<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadistico</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }


        .power {
            width: 100%;
            height: 1024px;
        }
     
      

    </style>

</head>
<body>
    <center>
        <!-- <iframe class="power" id="myiframe" title="estadistico" src="https://app.powerbi.com/reportEmbed?reportId=eb218809-2c8a-4598-be4a-b1d4f1cbf8c5&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true" filterPaneEnabled="false" navContentPaneEnabled="false"  scrolling="no"></iframe> -->

        <!--<iframe title="estadistico - copia" width="1576" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=016e60ec-efc8-4819-8534-98e6fbd9f0b4&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050&navContentPaneEnabled=false"" frameborder="0" allowFullScreen="true"></iframe>-->


        <!--<iframe title="estadistico - copia" width="1520" height="700" src="https://app.powerbi.com/reportEmbed?reportId=016e60ec-efc8-4819-8534-98e6fbd9f0b4&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>-->

        <!--<iframe title="estadistico - copia" width="1520" height="700" src="https://app.powerbi.com/reportEmbed?reportId=016e60ec-efc8-4819-8534-98e6fbd9f0b4&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>-->


        <!--<iframe title="estadistico - copia" width="1520" height="700" src="https://app.powerbi.com/reportEmbed?reportId=016e60ec-efc8-4819-8534-98e6fbd9f0b4&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>-->


        <!--<iframe title="estadistico - copia" width="1520" height="700" src="https://app.powerbi.com/reportEmbed?reportId=016e60ec-efc8-4819-8534-98e6fbd9f0b4&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>-->

        <!-- <iframe title="estadistico - copia" width="1520" height="700" src="https://app.powerbi.com/reportEmbed?reportId=016e60ec-efc8-4819-8534-98e6fbd9f0b4&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe> -->


        <iframe title="estadistico - copia" width="1520" height="700" src="https://app.powerbi.com/reportEmbed?reportId=016e60ec-efc8-4819-8534-98e6fbd9f0b4&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>

        <!--<iframe title="estadistico" width="1000" height="675" src="https://app.powerbi.com/reportEmbed?reportId=eb218809-2c8a-4598-be4a-b1d4f1cbf8c5&autoAuth=true&ctid=7762d1a5-a4d1-41c6-94b8-467d708d9050" frameborder="0" allowFullScreen="true" scrolling="no"></iframe>-->
    </center>

</body>
</html>